.card__container{
    text-decoration: none;
    background-color:#44b7fa;
    color: white;
    width:300px;    
}
.card_info-container{
    height:80px;
    padding:15px;
}
.card__title{
    text-decoration: none; 
    font-size:18px;   
}

.card__img-container{
    width:300px;
    height:300px;
}

.card__img{
    width:100%;
}